gan/data/*
*.png
*.jpg
gan/data/MNIST/raw/*
/gan/__pycache__/*
/gan/mlruns/*
/images/*
vae/data/*
vae/__pycache__/*
vae/mlruns/*
meta/binary_classification/mlartifacts/*
meta/binary_classification/mlruns/*
meta/binary_classification/creditcard.csv